{% extends 'blog/base.html' %}

{% block header %}
  {{ form.media }}
{% endblock %}

{% block title %}
  Add Post
{% endblock %}

{% block body %}
  {% include 'blog/_partials/_header.html' %}
  <main class="container flex-fill my-5">
    <h3 class="text-decoration-underline">
      {% if mode == 'create' %}
        Add Post
      {% elif mode == 'edit' %}
        Update Post
      {% endif %}
    </h3>

    <form action="
    {% if mode == 'create' %}
        {% url 'blog:create-post' %}
      {% elif mode == 'edit' %}
        {% url 'blog:edit-post' request.resolver_match.kwargs.id %}
      {% endif %}
    "
      class="vstack gap-3"
      method="post"
      enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label for="id_image"><p class="fs-5">Upload you thumbnail here:</p></label>
        <div>{{ form.image }}</div>
      </div>
      <div>
        <label for="id_title"><p class="fs-5">Write the title of the post here:</p></label>
        <div>{{ form.title }}</div>
      </div>
      <div>
        <label for="id_description"><p class="fs-5">Write the description of the post here:</p></label>
        <div>{{ form.description }}</div>
      </div>
      <div>
        <label for="content"><p class="fs-5">Write your content here:</p></label>
        <div>{{ form.content }}</div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-secondary">
          {% if mode == 'create' %}
            Add Post
          {% elif mode == 'edit' %}
            Update Post
          {% endif %}
        </button>
      </div>
    </form>
  </main>
  <footer>
    <div class="d-flex justify-content-center align-items-center border-3 border-top">
      <p class="my-2">JRWNMM 2000</p>
    </div>
  </footer>
{% endblock %}
